


/* 레이아웃 */
.left {
    float: left;
}
.right {
    float: right;
}
.relative {
    position: relative;
}

.clearFix:after {
    content: '';
    display: block;
    clear: both;
}

.unit70 {
    margin-bottom: 70px;
}
.unit60 {
    margin-bottom: 60px;
}
.unit50 {
    margin-bottom: 50px;
}
.unit40 {
    margin-bottom: 40px;
}
.unit30 {
    margin-bottom: 30px;
}
.unit20 {
    margin-bottom: 20px;
}
.unit10 {
    margin-bottom: 10px;
}



/* 버튼 스타일 */
.buttonWrapper {
    margin-top: 20px;
    text-align: center;
}
.buttonWrap:after {
    content: '';
    display: block;
    clear: both;
}

.button {
    display: inline-block;
    line-height: 40px;
    height: 40px;
    padding: 0 20px;
    overflow: hidden;
    border-radius: 2px;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #000000;
    text-align: center;
    -webkit-appearance: none;
    cursor: pointer;
}
.button.small {
    height: 34px;
    line-height: 34px;
    font-size: 12px;
}



/* 텍스트 스타일 */
.alignCenter {
    text-align: center;
}
.alignRight {
    text-align: right;
}




/*인풋 스타일 */
.inputText {
    width: 100%;
    padding: 5px 0 5px 8px;
    -webkit-appearance: none;
    border: 1px solid #d5d9dd;
    background: white;
    border-radius: 0;
    height:34px;
    box-sizing: border-box;
    color: #8b8b8b;
    vertical-align: middle;
}
.inputText[readonly="readonly"] {
    background: #f7f7f7;
}

select {
    width: 100%;
    padding: 5px 29px 5px 8px;
    -webkit-appearance: none;
    border: 1px solid #d5d9dd;
    background: white;
    border-radius: 2px;
    height:34px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #8b8b8b;
}
select::-ms-expand {
    display: none;
}


/* 커스텀 체크박스 스타일 ie9+ */
#checkbox {
    opacity: 0;
}
label[for="checkbox"]:before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 8px;
    margin-left: -20px;
    margin-top: -2px;
    background: url('../images/icon_check_rec.png') no-repeat top center;
    vertical-align: middle;
}
#checkbox:checked + label:before {
    background-position: bottom center;
}
/* 커스텀 체크박스 스타일 끝 */



.checkBoxList:after {
    content: '';
    display: block;
    clear: both;
}
.checkBoxList li {
    float: left;
    margin-left: 10px;
}
.checkBoxList li:first-child {
    margin-left: 0;
}



.itemCount {
    width: 110px;
}
.itemCount .inputText {
    border-right: 0 none;
    border-left: 0 none;
    width: 60px;
    vertical-align: top;
    text-align: center;
    padding: 5px 8px 5px 8px;
}
.itemCount-increase {
    display: inline-block;
    width: 34px;
    height: 34px;
    line-height: 32px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    font-size: 18px;
    border: 1px solid #babdc5;
    color: #333333;
    vertical-align: top;
}

.itemCount.small {
    display: inline-block;
    width: 40px;
}
.itemCount.small input {
    width: 100%;
    height: 30px;
    padding: 5px;
    border: 1px solid #d5d9dd;
    border-bottom: 0 none;
    text-align: center;
    color: #555555;
}
.itemCount.small .itemCount-increase {
    float: left;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border: 1px solid #b9bcc5;
    font-size: 12px;
}
.itemCount.small .itemCount-increase.minus {
    border-right: 0 none;
}
