


/* 기본 세팅 */
body {
    font-size: 14px;
    line-height: 1.6;
    font-family: 'noto-sans', sans-serif;
}

input, select, button, textarea {
    font-family: 'noto-sans', sans-serif;
    font-size: 1em;
    vertical-align: middle;
}

textarea {
    padding: 10px;
    width: 100%;
    border: 1px solid #d5d9dd;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    resize: none;
    word-break: break-all;
    white-space: pre-line;
}

input[type="checkbox"],
input[type="radio"] {
    margin-top: -1px;
}




/* 대메뉴 호버 스타일 */
.gnb-list > li.active .gnb-depth2 {
    display: block;
}
.gnb-depth2 {
    position: absolute;
    display: none;
    z-index: 100;
}
